# nano config file
#set mouse
#set linenumbers
set tabsize 4
set constantshow
set positionlog

# Colors
set titlecolor white
set statuscolor yellow
set numbercolor purple
set keycolor purple
#set scrollercolor green,white
