#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Burp Suite
Exec="/opt/BurpSuiteCommunity/BurpSuiteCommunity" %U
MimeType=application/x-extension-burp;
Icon=/usr/share/icons/burpsuite.png
Categories=Application;
StartupWMClass=install4j-burp-StartBurp
