[diff]
    colorMoved = default
[user]
    email = 73550106+migueltc13@users.noreply.github.com
    name = migueltc13
    signingkey = AA0DA4B63E6B2732
[credential]
    helper = store
[core]
    pager = less -FRX --mouse
    editor = nvim
[init]
    defaultBranch = main
[commit]
    gpgsign = true
